@model Client

@{
    Layout = "_Layout";
}


@section Scripts{
    <script>
    
    @{
        string FormatePrice(int price)
        {
            return price.ToString("c");
        }
    }
        $(document).ready(function() {
            
            
            $(".btn-increment").on("click", function() {
                var id = $(this).attr("data-product-id");
                var price = Number($(this).attr("data-product-price"));
                                        
                const input = document.getElementById('amount-' + id);
                const SumPrice = document.getElementById('SumPrice-' + id);
               
                
                var amount = Number(input.getAttribute('value'));
                var max = Number(input.getAttribute('max'));
                
                if (max > amount){
                    amount++;
                    input.setAttribute('value', amount);
                    SumPrice.innerText = '₽' + (amount * price).toString() + ',00';
                }
            });
            
            $(".btn-decrement").on("click", function() {
                var id = $(this).attr("data-product-id");
                var price = Number($(this).attr("data-product-price"));
                                
               const input = document.getElementById('amount-' + id);
                const SumPrice = document.getElementById('SumPrice-' + id);
                
                var amount = Number(input.getAttribute('value'));
                var min =  Number(input.getAttribute('min'));           
                
                if(amount > min){
                    amount--;
                    input.setAttribute('value', amount);
                    SumPrice.innerText = '₽' + (amount * price).toString() + ',00';
                }    
            });
            
        });
    </script>
}


<div class="panel" style="height: auto; margin-top: 80px; margin-bottom: 50px">
    
    <h3 class="personal-data__data-title">Корзина</h3>
    
    @{
        if (Model.Basket.Count > 0)
        {
            foreach (var productBasket in Model.Basket)
            {
                <div class="card" style="border-radius: 30px; margin-top: 30px">
                    <div class="row">
                        <div class="col">
                            <img src="@productBasket.Product.PathToImage" height="300" width="300" alt="..." style="padding: 30px">
                        </div>
                        <div class="col">
                            <div class="right">
                                <h3 id="SumPrice-@productBasket.Id" class="personal-data__data-title" style="padding-top: 30px; padding-right: 30px">
                                    ₽ @(productBasket.Product.Price * productBasket.Amount),00
                                </h3>
                            </div>
                        </div>
                    </div>
        
                    <div class="card-body">
                        <h5 class="card-title">@productBasket.Product.Name</h5>
                        <p class="card-text">@productBasket.Product.Description</p>
                        
                        <div class="row">
                            <div class="col-6">
                                <a asp-area="" asp-route-id="@productBasket.Id" asp-controller="Basket" asp-action="RemoveProductInBasket">
                                    <button class="btn btn-danger" type="submit">  
                                        Удалить из корзины
                                    </button>
                                </a>
                            </div>
                            <div class="col">
                                <div class="right"> 
                                    <div class="btn-group" style="align-content: center; " role="group" aria-label="Basic example">
                                        <button 
                                            type="button" 
                                            data-product-id="@productBasket.Id"
                                            data-product-price="@productBasket.Product.Price"
                                            class="btn btn-secondary btn-increment">+</button>
                                        
                                        <input 
                                            readonly 
                                            id="amount-@productBasket.Id"
                                            type="number" step="1" min="1" max="@productBasket.Product.Amount" value="@productBasket.Amount" 
                                            style="width: 60px; height: 40px;" 
                                            name="quantity" 
                                            class="quantity-field border-0 text-center">
                                        
                                        <button type="button" 
                                                data-product-id="@productBasket.Id"
                                                data-product-price="@productBasket.Product.Price"
                                                class="btn btn-secondary btn-decrement">-</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>       
            }   
        }
        else
        {
            <h5 class="personal-data__data-title" style="margin-top: 40px; margin-left: 15px">В корзине пусто</h5>
            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index">
                <button class="btn btn-outline-success my-0 my-sm-0" type="submit">  
                    Перейти на главную
                </button>
            </a>
        }
    }
</div>